/* Caroussel */

.container {
    padding-right: 3%;
    overflow-x: hidden;
    padding-left: 3%;
    width: 94%;
    top: 30%;
    position: absolute;
}


.container_title {
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
    text-shadow: -2px 4px 4px black;
}

.carousel {
	position: relative;
	padding: 10px;
}

// ****************************
// START * Class JS intégration
// ****************************

.carousel__container {
	transition: transform 0.3s;
	transform: translate3d(0,0,0);
}

.carousel__container::after {
	content: '';
	clear:  both;
	display: table;
}

.carousel__item {
	float: left;
}

.carousel__next, .carousel__prev {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #FFF url(img/next.svg) center center no-repeat;
	background-size: 20px 20px;
	top: 50%;
	margin-top: -20px;
	right:  0px;
	box-shadow: 0px 8px 20px 1px black;
	cursor:  pointer;
	transition: transform 0.3s, opacity 0.3s;
	border-radius: 50px;
}

.carousel__next--hidden, .carousel__prev--hidden {
	opacity: 0;
}

.carousel__next:hover, .carousel__prev:hover, .carousel__play:hover {
	transform: scale(1.2);
}

.carousel__prev {
	background-image: url(img/prev.svg);
	right: auto;
	left:  -20px;
}

.carousel__play {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #FFF url(img/play.svg) center center no-repeat;
	right: auto;
	background-size: 20px 20px;
	top: 10%;
	bottom: 0;
	margin-top: -20px;
	right:  0px;
	box-shadow: 0px 8px 20px 1px black;
	cursor:  pointer;
	border-radius: 50px;
	transition: transform 0.3s, opacity 0.3s;
}

.carousel__pause {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #FFF url(img/pause.svg) center center no-repeat;
	right: auto;
	background-size: 20px 20px;
	top: 10%;
	bottom: 0;
	margin-top: -20px;
	right:  0px;
	box-shadow: 0px 8px 20px 1px black;
	cursor:  pointer;
	border-radius: 50px;
	transition: transform 0.3s, opacity 0.3s;
}

// ****************************
// END * Class JS Intégration
// ****************************

.item {
	margin: 40px 10px;
	height: 550px;
	border-radius: 5%;
	background-color: #fff;
	box-shadow: 0 15px 35px #3232321a,0 5px 15px #0000001a;
	transition: transform 0.3s;
	transform: translate3d(0, -1px, 0);
}
.item:hover {
	transform: translate3d(0, -10px, 0);
}

.item__image {
	width: 100%;
	height: auto;
	text-align: center;
}

.item__image img {
	width: 96%;
}

.item__body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 5%;
	height: 100%;
	box-shadow: 0px 20px 35px -19px #101010;
}

.item__title {
	font-size: 24px;
	margin-left: 30px;
	font-weight: bold;
	color: #232323;
}

.item__description {
	color: #585858;
	margin-left: 30px;
	width: 88%;
}


