// ***********
// Formulaires
// ***********

// Formulaire de Réservation

// Nom de la station: Affiché avant la carte
#before_form {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    width: 100%;
    position: absolute;
    top: 20%;
    color: $white;
}

// Container principal du formulaire de réservation
.form_container {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 50;
	height: 100%;
	width: 40%;
	background-color: rgba(0,0,0,0.6);
	display: none;
    color: $white
}

// Boutton de fermeture du container principal
.form_container_close {
    font-size: 20px;
    color: $white;
    padding: 5px;
    width: 3%;
    float: right;
}

.form_container_close span {
    cursor: pointer;
}

// Infos concernant la station: Affiché avant le formulaire de réservation
.station_infos {
    text-align: left;
    margin: 5%;
    height: 40%;
}

.station_infos p {
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 2px;
    clear: both;
}

// Champs et Labels du formulaire de réservation
.reserv_form {
    width: 100%;
    height: 50%;
}

.reserv_form fieldset {
    text-align: center;
}

.reserv_form fieldset legend {
    margin-bottom: 2%;
    margin-top: 2%;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

.form_label {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
}

.form_fields {
    width: 35%;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 15px;
    border: none;
}

// Boutton de soummission du formulaire de réservation
.form_submit {
    width: 50px;
    height: 50px;
    margin-top: 5%;
    border-radius: 50px;
    background-color: $green;
}

// Pop Up contenant la confirmation et les informations de réservation
.form_confirm {
    display: none;
    line-height: 35px;
    width: 30%;
    height: 285px;
    font-size: 18px;
    letter-spacing: 2px;
    position: fixed;
    z-index: 99;
    left: 35%;
    bottom: 0;
    border-radius: 2%;
    box-shadow: 0px 0px 30px 0px $black;
    padding: 2%;
    text-align: center;
    background-color: $white;
    cursor: pointer;
}

.form_confirm i {
    display: inline-block;
}

.confirm_station {
    display: inline-block;
}

.confirm_name {
    text-transform: uppercase;
}


// Class utiulisé par JS pour réduire la popup
.confirm_reveal {
    bottom: -225px;
}

// Boutton de fermeture 
.form_confirm_close {
    width: 10%;
    height: 20px;
    margin-left: 45%;
    margin-bottom: 5%;
}

.form_confirm_close div {
    background-color: $black;
    height: 3px;
    width: 100%;
    margin-top: 5px;
}

// Pop Up d'expiration de la réservation
.reserv_exp {
    display: none;
    position: fixed;
    z-index: 99;
    top: 45%;
    left: 40%;
    width: 25%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $white;
    border-radius: 25px;
    box-shadow: 0px 1px 15px $black;
    clear: both;
}

.reserv_exp_close span {
    cursor: pointer;
}

.reserv_exp_close {
    width: 20px;
    height: 20px;
    float: right;
    font-size: 17px;
    font-weight: bold;
    color: $red;
    margin-right: 10px;
}
