
// MAIN - CONFIG

body {
	background: $gradientRose;
  background: linear-gradient(90deg, $gradientRose 35%, $gradientBlue 100%);
}

h1, h2, h3, h4, h5, a {
	font-family: $PrimaryFont;
}

p, span, div {
	font-family: $PrimaryFont;
}

// Sections - Config

/* Welcome */

.welcome {
	width: 100%;
  height: 100vh;
  position: relative;
}

.welcome_container {
	text-align: center;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 30%;
}

.welcome_container h1 {
    color: $white;
    font-size: 30px;
    letter-spacing: 4px;
}

.welcome_container p {
    margin-top: 50px;
    margin-bottom: 50px;
    color: $white;
    font-size: 18px;
    letter-spacing: 4px;
}


/* TUTORIAL */

#tutorial {
  width: 100%;
  height: 100vh;
  position: relative;
}


/* INFORMATIONS */

#informations {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Footer */

#footer {
	width: 100%;
	height: 100px;
  background-color: $white;
  margin-top: 10%;
}

.footer_logo {
	text-align: center;
  height: auto;
}
