// Variables

// Media Query

$S : 480px;
$M : 860px;


// Polices
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$PrimaryFont: 'Open Sans', sans-serif;


// Colors
$purple1: #c950ad;
$purple2: #ab399b;
$purple3: #682373;
$purple4: #141518;

