// Variables

// Media Query

$S : 480px;
$M : 860px;


// Polices
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$PrimaryFont: 'Open Sans', sans-serif;


// Colors
$white: #FFF;
$white2: #dadada;
$black: #000;
$green: green;
$red: red;

// Grey
$grey1: #3232321a;
$grey2: #101010;
$grey3: #585858;
$grey4: #232323;
$grey5: #0000001a;

// Gradient
$gradientRose: rgba(236,101,153,1);
$gradientBlue: rgba(70,42,171,1);
