// Large Screens

// Carrousel

.item {
	margin: 40px 110px;
}

// Navigation

.nav_links p {
	margin-top: 5%;
}

// Map 

.map {
	height: 790px;
}

// Reservation

.form_confirm {
	bottom: -100px;
}

.confirm_reveal {
	bottom: -235px;
}
