

// Navigation

.navigation {
	width: 100%;
	top: 1%;
}

.navigation ul {
	justify-content: space-between;
}

.link_block {
	width: 16%;
	height: 95px;
}

.nav_links {
	font-size: 50px;
}

.nav_links p {
	margin-top: 10%;
	font-size: 15px;
}


// Caroussel

.container {
	top: 5%;
}

// Canvas Container

.canvas_container {
	width: 36%;
	bottom: 12%;
	right: 25%;
}

// Reservation

.form_container {
	width: 100%;
}

.form_confirm {
	left: 25%;
	width: 45%;
}

