

// Header

	.logo {
		width: 10%;
	}


// Navigation


	.navigation {
		width: 100%;
		top: 1%;
	}
	.navigation ul {
		justify-content: space-between;
	}
	.link_block {
		width: 22%;
		height: 60px;
	}
	.nav_links {
		font-size: 40px;
	}
	.nav_links p {
		font-size: 15px;
		margin-top: 5%;
	}

// Informations

	#tutorial {
		margin-bottom: 40%;
	}

	.container {
		top: 10%;
	}


// Reservation
	
	.map_container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	#informations {
		margin-bottom: 40%;
		height: 100%;
	}

	#before_form {
		font-size: 25px;
		top: -15%;
	}

	.form_container {
		width: 100%;
	}
	
	.canvas_container {
		width: 66%;
		right: 12%;
		bottom: 7%;
	}

	.form_confirm {
		bottom: 0;
		width: 70%;
		left: 13%;
	}

	.confirm_reveal {
		bottom: -220px;
	}
